<div id="board_area">
  <h2>{{currentPoint}}</h2>

  <div id="board" class="card" ng-class="{'checked': preCount > 0}" ng-show="isShowBoard" board>
    <div class="row">
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
      <div class="col"><button class="button circle"></button></div>
    </div>
  </div>

  <div ng-show="isShowEnd">
    <p>失敗！</p>
    <div class="button-bar">
      <a class="button button-clear button-assertive" ui-sref="board">もう一度</a>
      <a class="button button-clear button-positive" ui-sref="index">メニューに戻る</a>
    </div>
  </div>
</div>
