

<h1 id="menu_title">COMPOSITION</h1>

<!-- <button class="button button-assertive" ui-sref="showing({waitCount:{{level}}})">はじめる</button> -->
<button class="button button-assertive" ng-click="onclickStart()">はじめる</button>

<div class="item range range-positive">
  <span>Level</span>
  <input type="range" name="level" min="1" max="{{$storage.levels.length - 1}}" ng-model="$storage.current.level">
  <span>{{$storage.current.level}}</span>
</div>

<p>Point</p>
<p>{{$storage.levels[$storage.current.level].point}}</p>
