<div id="menu_area">
  <h1 id="menu_title"><img src="img/title_logo.png"></h1>

  <button id="start" class="button button-clear button-assertive" ng-click="onclickStart()">はじめる</button>

  <div id="level_label_area">
    <div class="row">
      <div class="col">Level</div>
      <div class="col">{{$storage.current.level}}</div>
    </div>
    <div class="row">
      <div class="col">Score</div>
      <div class="col">{{$storage.levels[$storage.current.level].score}}</div>
    </div>
  </div>

  <div id="level_area" class="item range" ng-show="$storage.levels.length - 1 > 1">
    <input id="level_input" type="range" name="level" min="1" max="{{$storage.levels.length - 1}}" ng-model="$storage.current.level">
  </div>
</div>
